<script>
	function scrollIntoView({ target }) {
		const el = document.querySelector(target.getAttribute('href'));
		if (!el) return;
		el.scrollIntoView({
			behavior: 'smooth'
		});
	}
</script>

<div class="page grid grid-flow-row gap-4 mt-4 ml-4">
	<div class="product-title-card">
		<div class="product-name font-ZodiakLight text-5xl">Atlas Market</div>
		<div class="product-description">Plateforme Data & Analytics d'accéleration vers le marché des capitaux du futur</div>
	</div>
	<div class="demo-link">
		<a href="/">Demo Application Web</a>
	</div>
	<div class="demo-link">
		<a href="/">Demo API</a>
	</div>
	<div class="group description-bloc grid grid-flow-row">
		<section
			id="section-1"
			class="sm:col-span-2 border border-blue-500 p-0.5 w-fit h-fit rounded-md text-xs group-hover:bg-blue-500 group-hover:text-white"
		>
			Atlas Market
		</section>
		<p class="sm:col-span-5 text-justify mr-4">
			Atlas Market est une plateforme Data & Analytics conçue pour le marché financier marocain.
			Basée sur un modèle de données innovant et façonnée par une expertise ralliant la finance, la
			modélisation et l'ingénierie logicielle, Atlas Market apporte aux professionnels de la finance
			et aux institutionnels une interaction moderne avec le patrimoine informationnel d'un marché
			financier.
		</p>
		
		<div class="sm:col-span-1 hidden sm:block sm:col-start-8">
			<nav class="fixed grid grid-flow-row gap-2">
				<div>Sections</div>
				<a
					class="text-xs text-wrap font-thin hover:underline hover:decoration-blue-500"
					href="#section-1"
					on:click|preventDefault={scrollIntoView}
				>
					Atlas Market
				</a>
				<a
					href="#section-2"
					class="text-xs text-wrap font-thin hover:underline hover:decoration-blue-500"
					on:click|preventDefault={scrollIntoView}
				>
					Modelisation des données financières
				</a>
				<a
					class="text-xs text-wrap font-thin hover:underline hover:decoration-blue-500"
					href="#section-3"
					on:click|preventDefault={scrollIntoView}
				>
					Librairies de calculs et des statistiques
				</a>
				<a
					class="text-xs text-wrap font-thin hover:underline hover:decoration-blue-500"
					href="#section-4"
					on:click|preventDefault={scrollIntoView}
				>
					Accessibilité des données
				</a>
				<a
					class="text-xs text-wrap font-thin hover:underline hover:decoration-blue-500"
					href="#section-5"
					on:click|preventDefault={scrollIntoView}
				>
					Programmation API
				</a>
			</nav>
		</div>
	</div>
	<div class="group description-bloc py-96">
		<section
			id="section-2"
			class="sm:col-span-2 border border-blue-500 p-0.5 w-fit h-fit rounded-md text-xs group-hover:bg-blue-500 group-hover:text-white"
		>
			Modélisation des données financières
		</section>
		<p class="sm:col-span-5 text-justify mr-4">
			Malgré la complexité que présente le marché financier à travers la diversité de ses acteurs
			financiers, de ses instruments financiers et d'autres spécificités, notre modèle arrive
			actuellement à capturer et à organiser l'ensemble de ces éléments clés afin de garantir la
			pertinence et l'exactitude des calculs et traitements réalisés.
		</p>
	</div>
	<div class="group description-bloc py-96">
		<section
			id="section-3"
			class="sm:col-span-2 border border-blue-500 p-1 pt-0.5 w-fit h-fit rounded-md text-xs group-hover:bg-blue-500 group-hover:text-white"
		>
			Librairies de calculs et des statistiques
		</section>
		<p class="sm:col-span-5 text-justify mr-4">
			Atlas Market propose une librairie financière qui intègre les pratiques et les exigences
			actuelles du marché Marocain tout en respectant la règlementation en vigueur. La librairie
			financière d'Atlas Market a été développée en interne pour plusieurs raisons dont nous
			citerons les plus importantes:
			<br /> • Optimisation des ressources requises à l'exploitation de la plateforme
			<br /> • Maîtrise totale du processus de calcul
			<br /> • Capacité d'expliquer les incohérences soulevées et d'identifier rapidement les
			solutions adéquates
			<br /> • Capacité d'adapter la librairie à différents contextes et besoins
			<br /> • Capacité à répondre à des besoins techniquement avancés (Dérivées et intégrales, Simulation,
			Analyse Combinatoire, ...)
		</p>
	</div>
	<div class="group description-bloc py-96">
		<section
			id="section-4"
			class="sm:col-span-2 border border-blue-500 p-0.5 w-fit h-fit rounded-md text-xs group-hover:bg-blue-500 group-hover:text-white"
		>
			Accessibilité des données
		</section>
		<p class="sm:col-span-5 text-justify mr-4">
			Atlas Market est conçu en suivant un paradigme moderne concernant l'accessibilité des données
			et des calculs qu'il réalise, par conséquent, toute donnée produite par la plateforme est
			accessible en toute sécurité via le réseau interne de l'organisme. Et si l'instance principale
			est en panne, l'instance de backup prend le relais d'une manière transparente.
		</p>
	</div>
	<div class="group description-bloc py-96">
		<section
			id="section-5"
			class="sm:col-span-2 border border-blue-500 p-0.5 w-fit h-fit rounded-md text-xs group-hover:bg-blue-500 group-hover:text-white"
		>
			Programmation API
		</section>
		<p class="sm:col-span-5 text-justify mr-4">
			Les utilisateurs maitrisant les langages de programmation tels que VBA ou Python, ont la
			possibilité de développer des scripts d'analyse propres à leurs besoins et de les partager
			avec l'ensemble de leurs collaborateurs. Atlas Market se charge d'assurer les traitements et
			les calculs d'une manière uniforme, reproductible, et transparente.
		</p>
	</div>
</div>

<style lang="postcss">
	.description-bloc {
		@apply grid gap-2 sm:grid-cols-8;
	}
	section {
		@apply scroll-m-20;
	}
</style>
