<script>
	import IntroCard from '../../lib/components/IntroCard.svelte';
	import ServicesSection from '../../lib/components/ServicesSection.svelte';
	import ProductsSlide from '../../lib/components/ProductsSlide.svelte';
</script>

<IntroCard></IntroCard>
<ServicesSection></ServicesSection>
<ProductsSlide></ProductsSlide>
