<script>
</script>

<div class="page grid grid-flow-row gap-4 mt-4">
	<div class="product-title-card">
		<div class="product-name">Atlas Market</div>
		<div class="product-description">Plateform Data & Analytics pour une SDG 2.0</div>
	</div>
	<div class="demo-link">
		<a href="#">Demo</a>
	</div>
	<div class="demo-link">
		<a href="#">Documentation API</a>
	</div>
	<div class="description-bloc">
		<p>tag-here</p>
		<p>
			Atlas Market est une plateforme "data & analytics" conçue pour le marché financier marocain.
			Basée sur un modèle de données innovant et façonnée par une expertise ralliant la finance, la
			modélisation et l'ingénierie logicielle, Atlas Market apporte aux professionnels de la finance
			et aux institutionnels une interaction moderne avec le patrimoine informationnel d'un marché
			financier.
		</p>
	</div>
</div>
