/**
 * @license
 *
 * Font Family: Plus Jakarta Sans
 * Designed by: Tokotype
 * URL: https://www.fontshare.com/fonts/plus-jakarta-sans
 * © 2024 Indian Type Foundry
 *
 * Font Styles:
 * Plus Jakarta Sans Variable(Variable font)
 * Plus Jakarta Sans Variable Italic(Variable font)
 * Plus Jakarta Sans Extra Light
 * Plus Jakarta Sans Extra Light Italic
 * Plus Jakarta Sans Light
 * Plus Jakarta Sans Light Italic
 * Plus Jakarta Sans Regular
 * Plus Jakarta Sans Italic
 * Plus Jakarta Sans Medium
 * Plus Jakarta Sans Medium Italic
 * Plus Jakarta Sans Semi Bold
 * Plus Jakarta Sans Semi Bold Italic
 * Plus Jakarta Sans Bold
 * Plus Jakarta Sans Bold Italic
 * Plus Jakarta Sans Extra Bold
 * Plus Jakarta Sans Extra Bold Italic
 *
*/


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 400.0;
*
* available axes:

* 'wght' (range from 200.0 to 800.0)

*/

@font-face {
  font-family: 'PlusJakartaSans-Variable';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Variable.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Variable.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Variable.ttf') format('truetype');
       font-weight: 200 800;
       font-display: swap;
       font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 400.0;
*
* available axes:

* 'wght' (range from 200.0 to 800.0)

*/

@font-face {
  font-family: 'PlusJakartaSans-VariableItalic';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-VariableItalic.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-VariableItalic.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-VariableItalic.ttf') format('truetype');
       font-weight: 200 800;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'PlusJakartaSans-ExtraLight';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'PlusJakartaSans-ExtraLightItalic';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLightItalic.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLightItalic.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'PlusJakartaSans-Light';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'PlusJakartaSans-LightItalic';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-LightItalic.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-LightItalic.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'PlusJakartaSans-Regular';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'PlusJakartaSans-Italic';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'PlusJakartaSans-Medium';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'PlusJakartaSans-MediumItalic';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'PlusJakartaSans-SemiBold';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'PlusJakartaSans-SemiBoldItalic';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBoldItalic.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBoldItalic.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'PlusJakartaSans-Bold';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'PlusJakartaSans-BoldItalic';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'PlusJakartaSans-ExtraBold';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'PlusJakartaSans-ExtraBoldItalic';
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBoldItalic.woff') format('woff'),
       url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBoldItalic.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: italic;
}

