<script>
    export let summary = "";
    export let details = "";
    export let contentTag = "";
</script>

<div class="card-container hover:cursor-pointer">
    <div>{contentTag}</div>
    <div>{summary}</div>
    <div>{details}</div>
    read more
</div>

<style lang="postcss">
    .card-container{
        @apply bg-cyan-200;
        @apply min-h-28;
        @apply rounded-xl;
        @apply py-2 px-2;
    }
</style>
