<script>
</script>

<div class="hero-section p-2 mt-2 rounded-lg">
	<div class="hero-inner">
		<div class="hero-text-main text-center">
			Nous concevons des solutions innovantes centrées sur la donnée
            pour favoriser la prise des décisions avisées.
		</div>
		<div class="grid gap-2 grid-rows-3 sm:grid-cols-3">
			<!-- make a component NavCard -->
			<div class="bg-gray-200">
				<div class="card-title text-lg text-center">Modélisation</div>
				<div class="card-content">Modélisation is Modélisation</div>
			</div>
			<div class="bg-gray-200">Ingénierie</div>
			<div class="bg-gray-200">Innovation</div>
		</div>
	</div>
</div>

<style lang="postcss">
	.hero-section {
		min-height: calc(100vh - theme(spacing[20]));
		@apply bg-ud-zinc;
	}
</style>
