<script>
	import { slide } from 'svelte/transition';
	let menuVisible = false;
</script>

<div class="top-bar z-50">
	<nav>
		<div class="logo">Unravel Designs</div>
		<div class="menu-toogle" on:click={() => (menuVisible = !menuVisible)}>Menu</div>
	</nav>
	{#if menuVisible}
		<div
			class="fixed w-full h-full bottom-0 bg-gray-600 opacity-75"
			on:click={() => (menuVisible = !menuVisible)}
			in:slide={{ axis: 'y' }}
			out:slide={{ axis: 'y' }}
		></div>
		<div class="menu-overlay" in:slide out:slide>
			<div class="menu-nav">
				<div class="menu-logo">Unravel Designs</div>
				<div class="menu-toogle" on:click={() => (menuVisible = !menuVisible)}>Close</div>
			</div>
			<div class="menu-content">
				<div class="service-section">
					<div class="menu-link">
						<a href="/produits/atlas-market">Modeling</a>
						<a href="/produits/atlas-market">Engineering</a>
					</div>
				</div>
				<div class="product-section">
					<div class="menu-link">
						<a href="/produits/atlas-market">Atlas Market</a>
						<a href="/produits/atlas-market">Flaw</a>
					</div>
				</div>
				<div class="recent-section">
					<div class="menu-link">
						<a href="/produits/atlas-market">Jupyter Article</a>
						<a href="/produits/atlas-market">Simulation</a>
					</div>
				</div>
			</div>
			<div class="menu-footer">
				<div class="menu-divider"></div>
				<div class="menu-footer-copy">
					<div class="slogan">Crafting Tomorrow's Solutions</div>
					<div class="socials">
						<a href="/produits/atlas-market">LinkedIn</a>
						<a href="/produits/atlas-market">X, Formerly Twitter</a>
					</div>
				</div>
			</div>
		</div>
	{/if}
</div>

<style lang="postcss">
	.top-bar{
		@apply fixed;
	}

	nav {
		@apply fixed w-full flex justify-between p-4;
		@apply bg-green-100;
	}

	.menu-overlay {
		@apply fixed w-full h-[50%] p-4 bg-green-100;
	}

	.menu-toogle {
		@apply cursor-pointer;
	}

	.menu-nav {
		@apply flex justify-between;
	}

	.menu-footer {
		@apply flex flex-col;
	}
	.menu-divider {
		@apply h-[1px] bg-black;
	}
	.menu-footer-copy {
		@apply flex justify-between;
	}
</style>
