<script>
	import ContentCard from './ContentCard.svelte';
	import { fly } from 'svelte/transition';
	export let showMenuModal;
	let dialog;
	$: if (dialog && showMenuModal) dialog.showModal();
</script>

<!-- svelte-ignore a11y-click-events-have-key-events a11y-no-noninteractive-element-interactions -->
<dialog
	bind:this={dialog}
	on:close={() => (showMenuModal = false)}
	on:click|self={() => dialog.close()}
	class="min-h-full min-w-full p-8 z-2"
>
	<!-- svelte-ignore a11y-no-static-element-interactions -->
	<div on:click|stopPropagation class="menu-modal-container grid">
		<button class="place-self-end" on:click={dialog.close()}>Close Menu</button>
		<div class="menu-nav-container grid gap-6 grid-flow-row sm:grid-cols-2">
			<div class="grid gap-2 content-start">
				<details open>
					<summary> Services </summary>
					<div class="grid grid-flow-row">
						<a href="/">Modélisation</a>
						<a href="/">Intégration de données</a>
						<a href="/">Data Visualisation</a>
					</div>
				</details>
				<details open>
					<summary> Produits </summary>
					<div class="grid grid-flow-row">
						<a href="/produits/atlas-market">Atlas Market</a>
						<a href="/">Flaw</a>
					</div>
				</details>
			</div>
			<div class="content-feed grid grid-flow-row gap-2">
				Explore Content
				<ContentCard summary="Flaw" details="Version 1 Launched" contentTag="News"></ContentCard>
				<ContentCard
					summary="Atlas Market Demo"
					details="Inference de la composition d'une poche Actions"
					contentTag="Demo"
				></ContentCard>
				<ContentCard summary="Atlas Market" details="Version 2 Launched" contentTag="News"
				></ContentCard>
				<div class="place-self-end">
					<a href="/">Got to feed</a>
				</div>
			</div>
		</div>
	</div>
</dialog>

<style>
	dialog[open] {
		animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
	}
	@keyframes zoom {
		from {
			transform: scale(0.95);
		}
		to {
			transform: scale(1);
		}
	}
	dialog[open]::backdrop {
		animation: fade 3s ease-out;
	}
	@keyframes fade {
		from {
			opacity: 0;
		}
		to {
			opacity: 0.5;
		}
	}
	
</style>
