<script>
    import { ArrowRight } from "lucide-svelte";
</script>

<div class="nav-card">
    <div class="nav-content">
        navigation content
    </div>
    <div>
        <ArrowRight></ArrowRight>
    </div>
</div>
