<script>
	import { ArrowLeft, ArrowRight } from 'lucide-svelte';
	import ProductCard from './ProductCard.svelte';
	import { fly } from 'svelte/transition';

	let productList = ['AtlasMarket', 'Flaw', 'Pricer'];
	let counter = 0;
	$: productName = productList[counter];
	$: if (counter === productList.length) counter = 0;
	$: if (counter === -1) counter = productList.length - 1;
	let orient;
</script>

<div class="products-slideshow grid grid-rows-1 my-2 p-2 rounded-lg">
	<!-- {#if productName === 'AtlasMarket'}
		<div class="product-card">
			<div class="product-title">{productName}</div>
			<div class="product-summary">
				Atlas Market est une plateforme Data & Analytics conçue pour le marché financier marocain
				<br />Atlas Market apporte aux professionnels de la finance et aux institutionnels une
				interaction moderne avec le patrimoine informationnel d'un marché financier.
			</div>
		</div>
	{/if}
	{#if productName === 'Flaw'}
		<div class="product-card">
			<ContentCard summary="Flaw" details="Gestion du risque opérationel"></ContentCard>
		</div>
	{/if} -->
	{#key productName}
		<div class="product-card place-self-center" in:fly={{"duration":500,'x':orient}}>
			<ProductCard
				productName={productName}
				productSummary="{productName} pour Gestion du risque opérationel"
				productLogo="{productName.toUpperCase()}"
			></ProductCard>
		</div>
	{/key}
	<div class="slideshow-button-group p-2 flex place-self-end">
		<div class="px-2">Nos Produits</div>
		<button on:click={() => (counter--, orient='100vw')}>
			<ArrowLeft />
		</button>
		<button on:click={() => (counter++, orient='-100vw')}>
			<ArrowRight />
		</button>
	</div>
</div>

<style lang="postcss">
	.products-slideshow {
		min-height: calc(70vh - theme(spacing[20]));
		@apply bg-green-700
	}
</style>
