<script>
	export let productName = '';
	export let productSummary = '';
	export let productLogo = '';
</script>

<div class="grid grid-flow-row">
	<div class="product-name">{productName}</div>
	<div class="product-summary">{productSummary}</div>
	<div class="product-logo">{productLogo}</div>
</div>

<style>

</style>
