<script>

</script>

<div class="hero-section p-2 rounded-lg my-2">
    <div class="hero-inner">
        <div class="hero-text-main text-center">
            Design first company based in Casablanca
        </div>
        <div class="grid gap-2 grid-rows-3 sm:grid-cols-3">
            <!-- make a component NavCard -->
            <div class="bg-gray-200">
                <div class="card-title text-center">Modélisation</div>
                <div class="card-content">
                    Modélisation is Modélisation
                </div>
            </div>
            <div class="bg-gray-200">Ingénierie</div>
            <div class="bg-gray-200">Innovation</div>
        </div>
    </div>
</div>

<style lang="postcss">
    .hero-section {
        min-height: calc(100vh - theme(spacing[20]));
        background-color: theme(colors.gray.400);
    }
</style>
