<script>
	import { Menu, MenuIcon } from "lucide-svelte";
    import MenuModal from "./MenuModal.svelte";
    let showMenuModal = false;
</script>

<div class="navbar-container
            mt-4 grid grid-cols-2
            bg-gray-300
            p-2 rounded">
    <div class="logo-container order-1 text-xl">
        Unravel Designs
    </div>
    <div class="menu-container order-2 justify-self-end">
        <button class="flex gap-2" on:click={() => (showMenuModal = true)}>
            <span class="invisible sm:visible">Explorer</span>
            <span class="">
                <MenuIcon />
            </span>
            
        </button>
    </div>
</div>

<MenuModal bind:showMenuModal />

